.App {
  max-width: 500px;
  margin: auto;
  padding: 45px 25px;
}

.StockEventTable_card {
  margin: 12px;
  border: 1px solid #b0b0b1;
  padding: 25px;
  border-radius: 30px;
  box-shadow: #282c34;
}